body {
    font-color: #657b83;
    background-color: #fdf6e3;
}

.codebox {
    width: 45%;
    height: 300;
    margin-left: auto;
    margin-right: auto;
}

.codeboxes {
    display: block;
    width: 500px;
}

.example {
    background-color: #eee8d5;
    display: inline-block;
    margin: 10px;
    float: left;
}

.example-output {
    margin: 5px;
    float: right;
}

.example-input {
    margin: 5px;
    float: left;
}

.example-code {
    padding: 5px;
    font-family: "Courier New";
    border-style: solid;
    border-width: 1px;
}

.line {
    display: block;
}
