/* The colorscheme used here is lovingly cherry-picked from the awesome Solarized
 * scheme by Ethan Schoonover: http://ethanschoonover.com/solarized
 */

a, h1, h3 {
    color: #b58900;
}

b {
    color: #657b83;
}

a.visited {
    color: #586e75;
}

body {
    color: #657b83;
    background-color: #fdf6e3;
}

.codebox {
    width: 45%;
    height: 300;
    margin-left: auto;
    margin-right: auto;
}

.codeboxes {
    display: block;
    width: 500px;
}

.examples {
    display: table-cell;
}

.example {
    background-color: #eee8d5;
    display: inline-block;
    height: 100%;
}

.example-output {
    margin: 5px;
    float: right;
}

.example-input {
    margin: 5px;
    float: left;
}

.example-code {
    padding: 5px;
    font-family: "Courier New";
    border-style: solid;
    border-width: 1px;
}

.line {
    display: block;
}
